.button-burger{
  width: 80px;
  height: 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  .line{
    background-color: #ffffff;
    height: 6px;
    width: 80px;
    transition: .5s;
  }
}