// header style
.header {
  width: 100%;

  @include max-w(1680px){
    flex-direction: column-reverse;
  }

  &-banner {
    position: relative;
    max-width: 2070px;
    width: 100%;
    background-color: #e9eae2;

    @include max-w(375px){
      padding: 80px 0;
    }
  }

  &-item {
    position: absolute;
    top: 100px;
    left: 16.1%;

    @include max-w(2048px){
      top: 50px;
      left: 50px;
    }

    @include max-w(375px){
      top: 15px;
      left: 15px;
    }

    &__logo{
      @include max-w(2048px){
        width: 80%;
      }
      @include max-w($screen-1k){
        width: 60%;
      }

      @include max-w(1024px){
        width: 40%;
      }

      @include max-w(600px){
        width: 10%;
      }
    }
  }

  .address {
    max-width: 31%;
    width: 100%;
    background-color: #7acec3;
    position: relative;
    overflow: hidden;
    padding: 100px 0 200px 120px;
    justify-content: flex-end;

    @include max-w(1680px){
      max-width: 100%;
      padding: 0;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      padding: 1px;
      background-color: #fff;
      bottom: -1px;
      left: 1px;
      transform: rotateZ(-47.1deg);
      transform-origin: 0 0;
      width: 147%;

      @include max-w(1680px){
        display: none;
      }
    }

    &-info-item{
      padding-left: 36%;

      @include max-w(1680px){
        padding: 22px;
      }
    }

    &-item{
      padding-bottom: 45px;

      @include max-w(1680px){
        display: none;
      }
    }
  }

  .social-wrap {
    max-width: 325px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 50px 0 40px;

    @include max-w(2048px){
      padding: 0;
    }
  }

}

.main-nav {
  width: 250px;
  height: 240px;
  border: 6px solid $neutral-secondary;
  position: absolute;
  top: 100px;
  right: 450px;
  transition: 0.5s ease-in-out;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  padding: 100px 85px 100px 0;

  @include max-w(3000px) {
    right: 330px;
  }

  @include max-w(2048px){
    padding: 35px 25px;
    height: 100px;
    width: 100px;
    border: 3px solid $neutral-secondary;
  }

  @include max-w($screen-1k){
    top: 50px;
  }

  @include max-w(1680px){
    top: 0;
    right: 100px !important;
    border: 3px solid transparent;
  }

  @include max-w(1024px){
    right: 0 !important;
  }
  &__list {
    width: 0.1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    opacity: 1;
    transition: 0.3s;
    overflow: hidden;
  }
}

.menu-item .link {
  color: $default-color;
  font-family: $fontFamily;
  @include fluid-font(14px, 28px, 320px, 3000px);
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  transition: 0.3s;

  &:hover {
    border-bottom: 3px solid $default-color;
  }
}

.menu__show {
  width: 1450px;
  border: 6px solid #f8c255;
  background-color: #f8c255;
  overflow: visible;
  transition: 0.3s;

  @include max-w(2048px){
    width: 1200px;
    border: 3px solid #f8c255;
  }

  @include max-w($screen-1k){
    width: 800px;
  }

  @include max-w(1024px){
    width: 100%;
  }

  .main-nav__list {
    width: 1200px;
    overflow: visible;

    @include max-w(2048px){
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }

  .line1 {
    transform: rotate(45deg) translate(11px, 10px);
  }

  .line2 {
    transform: rotate(495deg);

  }

  .line3 {
    transform: rotate(45deg);
    opacity: 0;
  }
}