.fa-facebook-f, .fa-twitter, .fa-linkedin-in{
  color: #7acec3;
  font-size: 38px;
}
.fa-facebook-f{
  margin-right: 34px;
}
.fa-twitter{
  margin-right: 18px;
}
.fa-linkedin-in{
  margin-right: 28px;
}
.google-plus{
  svg{
    width: 38px;
    height: auto;
  }
}